@tailwind base;
@tailwind components;
@tailwind utilities;

.noisy-left{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: contrast(210%) brightness(100%);
    background: 
        no-repeat
      url("https://nextui.org/gradient-left-dark.svg");
}

.noisy-right{
    filter: contrast(210%) brightness(100%);
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background: 
    no-repeat
      url("https://nextui.org/gradient-right-dark.svg");
}

.container-main {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
    width: 100%;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
    position: relative;
}

.inner-main {
        /* important part */
        grid-area: inner-div;
        display: flex;
        overflow: hidden;
        position: relative;
        transition-property: all;
        transition-duration: 500ms;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 0.5rem;
        cursor: pointer;
        
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
  }

.mobile-navbar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .pulseLogo {
    background: #acec74;
    box-shadow: 0 0 0 0 rgba(172, 236, 116, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
 
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(172, 236, 116, 0.7);
    }
 
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(172, 236, 116, 0);
    }
 
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(172, 236, 116, 0);
    }
  }
 

  .mobile-navbar-list,
  .mobile-navbar-item-list {
  }
  
  .mobile-navbar-list {
    margin: auto;
  }
  

  .hamburger-button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    transform: translate(120%,130%);
    border-radius: 50%;
    background: transparent;
    z-index: 1;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  

@layer components {
.navigation-underline {
    @apply w-full border border-yellow-300;
}
}